.example-container{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

mat-form-field{
    width: 50%;
    margin: auto;
    font-size: 17px;
}

.pom-c-button{
    margin: auto;
}

button{
    background-color: #080357;
    color: white;
}

@media (max-width: 425px){
    mat-form-field{
        width: 300px;
        font-size: 15px;
    }
}
