.example-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
mat-form-field{
    width: 50%;
    margin: auto;
    font-size: 17px;
}

@media (max-width: 425px){
    mat-form-field{
        width: 300px;
        font-size: 15px;
    }
}
