
.pom-c-card__content {
    height: 0px;
  }
  
.pom-c-card {
    border-radius: 8px;
    margin: 10px;
    width: 200px;
    color: whitesmoke;
    background: #080357;
  }
  
.pom-l-action_buttons {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
  }
mat-card-subtitle{
      color: white;
  }
.pom-c-cardtitle{
    word-wrap: break-word;
   }