<div class="container">
  <h4>{{plan.name}}</h4>
  <form class="example-form">
  <mat-form-field appearance="outline" class="field" >
    <mat-label>Learning Plan Name</mat-label>
    <input matInput value={{plan.name}} [(ngModel)]="plan.name" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-form-field appearance="outline" class="field">
    <mat-label>Technology Name</mat-label>
    <input matInput value="{{plan.technology.name}}" [(ngModel)]="plan.technology.name" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-form-field appearance="outline" class="textarea">
    <mat-label>Description</mat-label>
    <textarea matInput value="{{plan.description}}" [(ngModel)]="plan.description" [ngModelOptions]="{standalone: true}"></textarea>
  </mat-form-field>
</form>
<mat-accordion>
  <mat-expansion-panel *ngFor="let item of plan.resources" class="pom-expansionpanel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.name}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Resource Name" value="{{item.name}}" [(ngModel)]="item.name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Description" value="{{item.description}}" [(ngModel)]="item.description">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Technology" value="{{item.technologies[0].name}}" [(ngModel)]="item.technologies[0].name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Resource Link" value="{{item.resourceLink}}" [(ngModel)]="item.resourceLink">
    </mat-form-field>
    <mat-form-field class="example-full-width" *ngFor="let concept of item.concepts;let i=index ">
      <input matInput placeholder="Concept" value="{{item.concepts[i].name}}" [(ngModel)]="item.concepts[i].name">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Bloom's Level" value="{{item.bloomLevel}}" [(ngModel)]="item.bloomLevel"
        [ngModelOptions]="{standalone: true}">
        <mat-option value="1">Knowledge</mat-option>
        <mat-option value="2">Comprehension</mat-option>
        <mat-option value="3">Application</mat-option>
        <mat-option value="4">Analysis</mat-option>
        <mat-option value="5">Synthesis</mat-option>
        <mat-option value="6">Evaluation</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
<div class="pom-c-button">
  <div>
    <button mat-raised-button (click)="clickedresourcecreatorInEdit()">Add Resource</button>
  </div>
</div>
<div class="pom-c-button">
  <div>
    <button mat-raised-button (click)="clickedSaveInEdit()" [disabled]="disableButton">Save</button>
  </div>
</div>
</div>