.example-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

mat-accordion{
    width: 100%;
    padding-top: 20px;
}

button{
    margin:10px;
    float: right;
}
mat-form-field{
    font-size: 17px;
    width: 100%;
}



