.container {
    margin-top: 10px;
}

 .example-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} 

h4 {
    margin-left: 280px;
}

@media (max-width: 425px){
    h4{
        margin-left: 0;
    }
}

mat-form-field {
    margin: auto;
     width: 60%; 
    font-size: 15px;
    /* margin-bottom: 20px; */
}

@media (max-width:425px) {
    mat-form-field{
        width: 95%;
        font-size: 15px;
        margin-bottom: 20px;
        margin-left: 8px;
    }
   
   .pom-expansionpanelquestion {
        width: 100%; 
        margin-bottom: 20px;
        margin-left: 5px;
   }
}

mat-expansion-panel {
     width: 60%; 
    padding-top: 10px;
    margin: auto;
}
@media (max-width:425px) {
    mat-expansion-panel {
        width: 95%;
        margin-left: 8px;
   }
}

.pom-expansionpanelquestion {
     width: 60%; 
    padding-top: 10px;
    margin: auto;
}

.pom-c-button {
    margin-left: 5px;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    margin-left: 280px;
    background-color: #080357;
    color: white;
}

@media (max-width:425px) {
    button {
        margin-top: 10px;
        margin-left: 0;
        background-color: #080357;
        color: white;
    }
}


