.example-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

mat-form-field{
    width: 90%;
    font-size: 15px;
    margin-bottom: 20px;
}

@media (max-width:425px){
    mat-form-field{
        width: 95%;
        font-size: 15px;
        margin-bottom: 20px;
        margin-left: 5px;
    }
}

.pom-expansionpanel{
    width: 97%;
    padding-top: 10px;
}

.pom-c-button{
    margin-left: 5px;
    margin-bottom: 10px;
}

button{
    margin-top: 10px;
    background-color: #080357;
    color: white;
}

.pom-c-clearbutton{
    float: right;
    background-color:whitesmoke;
    color: black;
}
