<button mat-button (click)="clickedClearInQuestions()">
  <mat-icon>clear</mat-icon>
</button>
<app-questionform (noError)="handleEventEmitter($event)" (hasClickedSave)="handleSave($event)"></app-questionform><br><br>

<!-- <div class="buttons">
  <div class="button-row">
    <button mat-flat-button color="black" id="add" (click)="addQuestion()">Add a Question</button><br><br>
  </div>
 
</div><br><br> -->
<div class="button-row">
  <button mat-flat-button (click)="onClickOfSubmit()" id="submit" *ngIf="hasClickedSaveQuestion && hasnoerror"
    [disabled]="disableButton">Submit</button>
</div>
<p *ngIf="haserror">you have to give all the required fields</p>
<p *ngIf="hasnoerror"> your questions have been posted successfully</p>
<!-- <p *ngIf="!hasAdded3Qs"> You need to add at least <strong>THREE</strong> Questions to publish.</p> -->