<h5>Questions</h5>
<mat-accordion>
  <mat-expansion-panel *ngFor="let item of questions;let id=index;" class="pom-expansionpanel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        question {{id}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex-container">
      <mat-form-field>
        <input matInput placeholder="technology" value={{item.technology.name}} [(ngModel)]="item.technology.name">
      </mat-form-field>
      <mat-form-field *ngFor="let concept of item.concepts">
          <input matInput placeholder="concept" value="{{concept.name}}" [(ngModel)]="concept.name" [ngModelOptions]="{standalone: true}"> </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Question" value={{item.problemStatement}} [(ngModel)]="item.problemStatement"></textarea>
      </mat-form-field>
    
      <div class="options">
          <mat-radio-group class="radio-group" [(ngModel)]="item.isCorrect">
            <!-- here, check whether you need to change the case for fields!!-->
            <mat-radio-button class="radio-button" *ngFor="let o of item.options" value="{{item.isCorrect}}">
              {{o.content}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

    </mat-expansion-panel>
    </mat-accordion>