<button mat-button  class="pom-b-clear" (click)="clickedClearInView()"><mat-icon>clear</mat-icon></button>
<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">

    <ng-template matStepLabel>Details of Plan</ng-template>
    <h4>{{plan.LearningPlanName}}</h4>
    <h5>Technology:</h5>
    <p>{{plan.Technology}}</p>
    <h5>Summary</h5>
    <p>{{plan.Summary}}</p>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>

  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Resources</ng-template>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of plan.Resources">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.ResourceName}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Resource Link:</p>
        <a href="" target="_blank">{{item.ResourceLink}}</a>
        <p>Description:</p>
        <p>{{item.Description}}</p>
        <!--yet to add concepts-->
        <p>Blooms Level: </p>
        <p>{{item.BloomsTaxonomy}}</p>
      </mat-expansion-panel>
    </mat-accordion>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Questions</ng-template>
    <!--yet to add questions-->
    <mat-accordion>
      <mat-expansion-panel *ngFor="let question of plan.Resources.Questions;let i=index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Question {{i}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{question.ProblemStatement}}</p>
        <p *ngFor=" let option of question.Options">{{option.Content}} {{option.IsCorrect}}</p>
        <p>Blooms Level: </p>
        <p>{{question.BloomsTaxonomy}}</p>
      </mat-expansion-panel>
    </mat-accordion>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Start</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>