.contribution-card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contributionedit{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pom-card{
  flex: 5.5;
}

.editview{
  flex: 4.5;
}

h3{
  padding-left: 30px;
}

