.LPresource {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  height: 180vh;
  overflow: hidden;
}

.learningplan {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.learningplan, .resource {
  padding: 20px;
  height: 100%;
}

.resource {
}

@media (max-width: 425px){
  .resource{
    margin-right: 8px;
    padding-left: 0;
    width: 300px;
    height: 100%;
    background-color: rgb(230, 230, 230);
  }
}

mat-form-field{
  width: 100%;
  font-size: 17px;
  margin-top: 20px;
}

@media (max-width: 425px){
  mat-form-field{
    width: 300px;
    font-size: 15px;
    margin-top: 20px;
  }
}

.pom-c-resbutton {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pom-c-submitbutton {
  margin-left: 10px;
  margin-top: 10px;
}

.pom-c-searchbutton {
  margin-left: 10px;
  margin-top: 10px;
}

.pom-c-resourcecard {
  /* word-wrap: break-word; */
  margin-top: 20px;
   display: flex;
  flex-direction: row;
}

@media (max-width: 425px){
  .pom-c-resourcecard{
    /* word-wrap: break-word; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
}

.pom-c-card {
  word-wrap: break-word;
  flex: 7;
  margin-right: 20px;
}

@media (max-width: 425px){
  .pom-c-card{
    word-wrap: break-word;
    width: 300px;
  }
}

.pom-c-button{
  background-color: #080357;
  color: white;
  flex: 3;
}

@media (max-width: 425px){
  .pom-c-button{
    background-color: #080357;
    color: white;
    width: 50%;
    margin-top: 10px;
    margin-left: 20px;
  }
}


.pom-c-clearbtn{
  float: right;
}
