<div class="LPresource">
    <div class="learningplan">
        <h3>Learning Plan</h3>
        <form class="example-form">
            <mat-form-field appearance="outline">
                <mat-label>Learning Plan Name</mat-label>
                <input matInput placeholder="Learning Plan Name" value={{plan.name}} [(ngModel)]="plan.name"
                    [ngModelOptions]="{standalone: true}">
                <mat-hint>Name your Learning Plan</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Technology Name</mat-label>
                <input matInput placeholder="Technology" [(ngModel)]="plan.technology.name" [ngModelOptions]="{standalone: true}">
                <mat-hint>Give technology for better recommendations</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="textarea">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description" [(ngModel)]="plan.description" [ngModelOptions]="{standalone: true}"></textarea>
                <mat-hint>Describe your plan</mat-hint>
            </mat-form-field>
            <div class="pom-c-resbutton">
                <button mat-raised-button color="black" (click)="clickedresourcecreator()">Add new Resource</button>
                <button mat-raised-button color="black" class="pom-c-searchbutton" (click)="clickedSearchResource()">Search
                    Resource</button>
                <button mat-raised-button class="pom-c-submitbutton" color="black" (click)="postLearningPlan()">Submit</button>
            </div>
            <!--search for existing resource-->
            <mat-form-field appearance="outline" *ngIf="hasClickedSearchResource && !hasClickedSearch">
                <input matInput placeholder="search">
            </mat-form-field>
            <button mat-button style="float: right" (click)="clickedSearch()" 
            *ngIf="hasClickedSearchResource && !hasClickedSearch">search</button>
        </form>
        <div class="pom-c-resourcecard" *ngFor="let res of resources;let i = index">
            <button mat-button class="pom-c-card" (click)="clickedResourceToEdit(i)">
                <mat-card> {{res?.name}}</mat-card>
            </button>
            <button mat-raised-button class="pom-c-button" (click)="clickedAddQuestions(i)">Add Questions</button>
        </div>
    </div>
    <div class="resource">
        <button mat-button *ngIf="hasClickedresourcecreator && !hasClickedClearInresourcecreatorInLP" (click)="clickedClearInresourcecreatorInLP()">
            <mat-icon>clear</mat-icon>
        </button>
        <app-resourcecreator *ngIf="hasClickedresourcecreator && !hasClickedSaveResource && 
        !hasClickedClearInresourcecreatorInLP"
            (hasClickedSave)="handleSave($event)"></app-resourcecreator>

        <app-questions *ngIf="hasClickedAddQuestions && !hasClickedSubmitQuestion && !hasClickedClearQuestions"
            (hasClickedSubmit)="handleSubmit($event)" (hasClickedClearInQuestions)="handleClearInQuestions($event)"
            [technologyName]="technologyName"></app-questions>

        <app-resourceedit [resource]="resource" *ngIf="hasClickedResourceToEdit && !hasClickedClearInResourceEdit"
            (hasClickedClearInResourceEdit)="handleClearInResourceEdit($event)"></app-resourceedit>
    </div>
</div>