<!-- 
<mat-tab-group>
  <mat-tab label="Details">
    <h4>{{plan.name}}</h4>
    <label><b>Technology:</b></label>{{plan.technology.name}}<br><br>
    <label><b>Summary:</b></label>{{plan.description}}
  </mat-tab>
  <mat-tab label="Resources">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of plan.resources">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.name}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <label><b>Resource Name:</b></label>{{item.name}}<br><br>
        <label><b>Resource Link:</b></label>
        <a href="" target="_blank">{{item.resourceLink}}</a><br><br>
        <label><b>Description:</b></label>{{item.description}}<br><br>
        <div *ngFor="let concept of item.concepts;let i=index">
        <label><b>Concepts:</b></label>{{concept.name}}<br><br>
      </div>
        <h2>BloomLevel : {{displayBloom(item.bloomLevel)}}</h2>
        <a matTooltip="know about Bloom's Taxonomy" aria-label="Button that displays a tooltip when focused or hovered over"
          href="http://www.mandela.ac.za/cyberhunts/bloom.htm" target="_blank">
          <mat-icon class="help">help</mat-icon>
        </a>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  
</mat-tab-group> -->
<div class="pom-c-view">
  <mat-card class="pom-c-card">
    <mat-card-title class="pom-c-title">{{plan.name}}</mat-card-title>
  </mat-card>
  <div class="pom-l-content">
    <p>{{plan.technology.name}}</p>
    <p>{{plan.description}}</p>
  </div>
  <div class="pom-c-resources">
    <mat-card *ngFor="let item of plan.resources" class="pom-c-resource">
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card>
  </div>
</div>