/* .pom-c-view  {
  margin: auto;
  width: 70%;
  height: 200vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #4CA1AF;  
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  
  background: linear-gradient(to right, #C4E0E5, #4CA1AF); 
}

@media (max-width:425px) {
  .pom-c-view {
    margin:0;
    width: 100%;
    height: 100vh;
    background: #4CA1AF;  
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF); 
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); 
  }
}

.pom-c-card {
  background-color: transparent;
}

.pom-c-resource {
  background-color: transparent;
}

.pom-c-link {
  text-decoration: none;
}

.pom-l-content {
  margin-left: 10px;
}

h3 {
  margin:10px;
}

.pom-l-cardcontent{
  font-size: 17px;
  margin-left: 20px;
} */
.pot-l-container {
  display: flex;
  height: 300vh;
  overflow: hidden;
}

.pot-l-shapes-container {
  flex: 1;
  background-color: whitesmoke;
  background-image: url('https://www.supremo.co.uk/designers-eye/assets/images/shapes.png');
}

.pot-l-domain-selector-wrapper {
  flex: 1;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  background: lightskyblue;
}

.pot-c-domain-selector-info__description {
  font-weight: 400 !important;
}

.pot-l-domain-selector-info {
  margin-left: 3em;
  margin-right: 3em;
}

.pot-c-domain-selector, .pot-c-begin_btn {
  margin-top: 1.01em;
}

.pot-c-begin__btn {
  height: 48px;
  font-size: 1.01em;
  border-radius: 48px;
  min-width: 120px;
  /* margin-top: 1.01em; */
}

.pom-c-resources{
  margin-top:10px;
}