.example-sidenav {
  position: fixed;
  padding: 0;
}
  .example-container {
  height: 100%;
}

.pom-c-button {
  position: fixed;
  padding-left: 10px;
  margin-top: 70px;
  flex-wrap: wrap;
}
mat-list{
  margin-top: 70px;
}

.example-sidenav-content{
  margin-top: 120px;
  margin-left: 8px;
  flex-wrap: wrap;
}

