<div class="pom-l-container">
  <h3>Domains</h3>
  <div class="pom-l-flex_container">
    <div *ngFor="let tech of technology">
      <mat-card class="pom-c-card">
        <mat-card-title>
          {{tech.Name}}
        </mat-card-title>
        <mat-card-content class="pom-c-card__content">
        </mat-card-content>
        <mat-card-actions class="pom-l-action_buttons">
          <button mat-button (click)="setTech(tech)" routerLink="/test" routerLinkActive="active">Take Test</button>
          <button mat-button (click)="noToggle(tech)">Learn</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="showPopular">
  <h1> Popular Plans for {{selectedTech}} >></h1>
  <app-scrolling-container [choice]=3></app-scrolling-container>
</div>