
* {
  font-size: 1.1em;
}

.pom-c-navbar {
  /* position: fixed;
  z-index: 99999;
  height: 11vh; */
  overflow: hidden;
  z-index: 99999;
  position: fixed;
  top: 0;
  width: 100%;
}

.pom-l-spacer {
  flex: 1 1 auto;
}
