.user-report-container{
    display: flex;
}
.pot-l-shapes-container {
  flex: 1;
  background-color: whitesmoke;
  background-image: url('https://www.supremo.co.uk/designers-eye/assets/images/shapes.png');
}