<!-- <div class="pot-c-container"> -->
    <div *ngIf="isLoaderActivated; else showAssessment" class="pot-l-loader__container">
        <img
        class="pot-c-loader"
        src="../../assets/images/black-tranparent-loader.gif" alt="test-loader">
      </div>
      <ng-template #showAssessment>
          <div class="test-box" *ngIf="!gameover">
              <div class="selectedTech">
                Selected Tech is : {{selectedTech}}
              </div>
              <div class="timer-container">
                <div class="timr" *ngIf="showTimer">Time Remaining: {{counter}}</div>
              </div>
              <div *ngIf="showProgressBar">
                <section class="progressbar-section">
                  <mat-progress-bar mode="determinate" class="progressbar-margin" [value]="value">
                  </mat-progress-bar>
                </section>
              </div>
              <div *ngIf="counter>=1" class="question">
                <div class="ques-box">
                  <div class="ques-title">
                    <h3>
                      Q{{currentQuestion?.problemStatement}}
                    </h3>
                  </div>
                </div>
                <div class="options">
                  <mat-radio-group class="radio-group" [(ngModel)]="selectedOption">
                    <mat-radio-button class="radio-button" *ngFor="let o of currentQuestion?.options" [value]="o">
                      {{o?.content}}
                    </mat-radio-button>
                  </mat-radio-group>
                  <p>{{selectedOption?.content}}</p>
                </div>
              </div>
              <div class="button-flex">
                <button mat-raised-button class="Btn" *ngIf="showNextButton" (click)="nextQuestion()">Next</button>
            </div>
            </div>
          
      </ng-template>
    <!-- </div> -->
    <!-- <div class="test-box" *ngIf="!gameover">
        <div class="selectedTech">
          Selected Tech is : {{selectedTech}}
        </div>
        <div class="timer-container">
          <div class="timr" *ngIf="showTimer">Time Remaining: {{counter}}</div>
        </div>
        <div *ngIf="showProgressBar">
          <section class="progressbar-section">
            <mat-progress-bar mode="determinate" class="progressbar-margin" [value]="value">
            </mat-progress-bar>
          </section>
        </div>
        <div *ngIf="counter>=1" class="question">
          <div class="ques-box">
            <div class="ques-title">
              <h3>
                Q{{currentQuestion?.problemStatement}}
              </h3>
            </div>
          </div>
          <div class="options">
            <mat-radio-group class="radio-group" [(ngModel)]="selectedOption">
             
              <mat-radio-button class="radio-button" *ngFor="let o of currentQuestion?.options" [value]="o">
                {{o?.content}}
              </mat-radio-button>
            </mat-radio-group>
            <p>{{selectedOption?.content}}</p>
          </div>
        </div>
        <div class="button-flex">
          <button mat-raised-button class="Btn" *ngIf="showNextButton" (click)="nextQuestion()">Next</button>
      </div>
      </div> -->