
  <div class="test-box">
      <div class="selectedTech">
        Selected Tech is : {{selectedTech}}
      </div>
      <div class="timer-container">
        <div class="timr" *ngIf="showTimer">Time Remaining: {{counter}}</div>
      </div>

      <div *ngIf="showProgressBar">
        <section class="progressbar-section">
          <mat-progress-bar mode="determinate" class="progressbar-margin" [value]="value">
          </mat-progress-bar>
        </section>
      </div>

      <div *ngIf="counter>=1" class="question">
        <div class="ques-box">
          <div class="ques-title">
            <h3>
              Q{{currentQuestion?.questionId}} {{currentQuestion?.problemStatement}}
            </h3>
          </div>
        </div>
        <div class="options">
          <mat-radio-group class="radio-group" [(ngModel)]="selectedOption">
            <!-- here, check whether you need to change the case for fields!!-->
            <mat-radio-button class="radio-button" *ngFor="let o of currentQuestion?.options" [value]="o">
              {{o?.content}}
            </mat-radio-button>
          </mat-radio-group>
          <p>{{selectedOption?.content}}</p>
        </div>
      </div>

    </div>