.test{
  margin-top: 100px;
}

.green {
  background-color: green;
 }
 .red {
  background-color: red;
 }
 .concepts {
  background-color: azure;
  display: inline-block;
  margin: 10px;
  /* margin-bottom: 50px; */
 }
 .radio-group {
  display: inline-flex;
  flex-direction: column;
  overflow-wrap: break-word;
  background-color: white;
  width: 100%;
 }
 .radio-button {
  overflow-wrap: break-word;
  white-space: normal;
  margin:5px;
 }
 .startTest {
  width: 75%;
  margin: auto;
  background-color: rgb(247, 250, 253);
 }
 .question {
  margin: auto;
  width: 80%;
  background: #ddd;
 }
 .ques-title {
  margin-left: 20px;
  margin-top: 10px;
 }
 .progressbar-section {
  width: 80%;
  margin: auto;
  margin-bottom: 0%;
  height: 3em;
 }
 .button-flex {
  display: flex;
  justify-content: center;
  padding-top: 50px;
 }
 .timer-container {
  display: flex;
  padding: 10px;
 }
 .ques-box {
    margin: 0 auto;
 }
 .ques-title {
  margin-bottom: 0;
 }
 .Btn {
  text-align: center;
  margin-top:40px;
 }
 button {
  background-color: #080357;
  color: white;
 }
 li{
  margin: 25px 0;
 }
 .heading {
  text-align: center;
  background-color: #080357;
  color:white;
 }
 