.inputs{
    display: inline-flex;
    flex-direction: row;
}
h4{
    color: red;
}

.options{
    font-size: 15px;
}

.pom-c-p{
    font-size: 15px;
} 

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-column mat-radio-button{
    width: 100%;
}
.flex-column mat-form-field, mat-radio-label{
    width: 100%;
}

mat-form-field{
    width: 60%;
    font-size: 15px;
    margin-bottom: 20px;
}

@media (max-width:425px){
    mat-form-field{
        width: 90%;
        font-size: 15px;
        margin-bottom: 20px;
        margin-left: 5px;
    }
    h5{
        margin-left: 5px;
    }
    .options{
        margin-left: 5px;
    }
    p{
        font-size: 15px;
        margin-left: 5px;
    }
}

.pom-c-button{
    margin-left: 5px;
    margin-bottom: 10px;
}





