<h5>Resource {{id+1}} Questions</h5>
<div class="flex-container">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="technology Name" value="{{technologyName}}" [(ngModel)]="questions.technology.name" [formControl]="technologyname"
      required>
    <mat-error *ngIf="question.invalid">{{getErrorMessage()}}</mat-error>
    <mat-error *ngIf="question.valid">{{getValidMessage(6)}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Question goes here!" [(ngModel)]="questions.problemStatement" [formControl]="question"
      required></textarea>
    <mat-error *ngIf="question.invalid">{{getErrorMessage()}}</mat-error>
    <mat-error *ngIf="question.valid">{{getValidMessage(0)}}</mat-error>
  </mat-form-field>
  <form [formGroup]="form">
    <div class="pom-c-p">
      <p><b>NOTE:</b>You have to check the correct option</p>
    </div>
    <div [formArrayName]="'items'" [class.invalid]="!form.controls.selectedItems.valid">
      <div class="options" *ngFor="let control of form.controls.items.controls; let i = index;" [formGroup]="control">
        <div class="inputs">
          <input type="checkbox" formControlName="checkbox" id="{{ control.controls.id.value }}">
          <input matInput placeholder="options" [(ngModel)]="questions.options[i].content" [formControl]="options[i].formControl"
            required>
        </div>
        <mat-error *ngIf="options[i].formControl.invalid">{{getErrorMessage1(i)}}</mat-error>
        <mat-error *ngIf="options[i].formControl.valid">{{getValidMessage(i + 1)}}</mat-error>
      </div>
    </div>
    <div [class.invalid]="!form.controls.selectedItems.valid" *ngIf="!form.controls.selectedItems.valid">
      <p>checkbox group is required!</p>
    </div>
  </form>
  <!-- <mat-form-field class="example-full-width">
      <input matInput placeholder="Give a Resource Link" [formControl]="resourcelink" required>
      <mat-error *ngIf="resourcelink.invalid">{{getErrorMessage5()}}</mat-error>
      <mat-error *ngIf="resourcelink.valid">{{getValidMessage(5)}}</mat-error>
    </mat-form-field><br><br><br> -->
  <mat-form-field>
    <mat-select [(value)]="selected" placeholder="Give Bloom's Taxanomy Level" [formControl]="bloomlevel" [(ngModel)]="questions.bloomLevel"
      required>
      <mat-error *ngIf="bloomlevel.invalid">{{getErrorMessage5()}}</mat-error>
      <mat-error *ngIf="bloomlevel.valid">{{getValidMessage(5)}}</mat-error>
      <mat-option value="1">Knowledge</mat-option>
      <mat-option value="2">Comprehension</mat-option>
      <mat-option value="3">Application</mat-option>
      <mat-option value="4">Analysis</mat-option>
      <mat-option value="5">Synthesis</mat-option>
      <mat-option value="6">Evaluation</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="pom-c-button">
  <button mat-flat-button (click)="clickedSave()" [disabled]="disableButton">Save</button>
</div>