 .inputs{
    display: inline-flex;
    flex-direction: row;
}
/*
.options{
    width: 50%;
} */
mat-form-field{
    /* width: 90%; */
    font-size: 17px;
    width: 100%;
}
p{
    font-size: 17px;
}


