<h5>Questions for Resource #{{id+1}}</h5>
<form class="flex-container" [formGroup]="questionFormGroup">
  <!-- <mat-form-field class="form-group" appearance="outline">
    <input matInput class="form-control" formControlName="technologyNameFC" placeholder="Technology Name" required>
    <mat-error *ngIf="getFormGroup.technologyNameFC.errors" class="invalid-feedback">Technology Name is Required!</mat-error>
  <mat-hint>Targetting technology</mat-hint>
  </mat-form-field> -->
  <mat-form-field appearance="outline">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let concept of question.concepts" [selectable]="selectable" [removable]="removable" (removed)="remove(concept)">
        {{concept?.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Concepts Covered" formControlName="conceptsFC" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
      <mat-error *ngIf="getFormGroup.conceptsFC.errors" class="invalid-feedback">At least <strong>ONE Concept</strong>
        is Required!</mat-error>
    </mat-chip-list>
    <mat-hint>Concepts covered by the question</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <textarea matInput placeholder="Question goes here!" formControlName="problemStatementFC" required></textarea>
    <mat-error *ngIf="getFormGroup.problemStatementFC.errors" class="invalid-feedback">Problem Statement is Required!</mat-error>
    <mat-hint>Give your question</mat-hint>
  </mat-form-field>
  <form class="form-group flex-column" [formGroup]="optionsForm">
    <mat-radio-group formControlName="optionFormControl">
      <mat-radio-button *ngFor="let option of question.options;let i = index" [value]="i">
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="option{{i+1}}" placeholder="option {{i+1}}" />
        </mat-form-field>
      </mat-radio-button>
      <h4 *ngIf= "hasErrors">Please fill all options and select one of the as correct answer</h4>
    </mat-radio-group>
  </form>
  <mat-form-field appearance="outline">
    <mat-error *ngIf="getFormGroup.bloomLevelFC.errors" class="invalid-feedback">Please Specify the <strong>Bloom
        Taxonomy Level</strong></mat-error>
    <mat-select [(value)]="selected" placeholder="Give Bloom's Taxonomy Level" formControlName="bloomLevelFC" required>
      <mat-option value="1">Knowledge</mat-option>
      <mat-option value="2">Comprehension</mat-option>
      <mat-option value="3">Application</mat-option>
      <mat-option value="4">Analysis</mat-option>
      <mat-option value="5">Synthesis</mat-option>
      <mat-option value="6">Evaluation</mat-option>
    </mat-select>
    <mat-hint>Bloom's level of the question</mat-hint>
  </mat-form-field><br>
  <h4 *ngIf="hasErrors">Please fill all the required fields</h4>
</form>
<div class="pom-c-button">
  <button mat-flat-button (click)="clickedSave()" [disabled]="disableButton">Save</button>
</div>