<div class="full-width">
  <div class="container">
    <div class="col-xxs-8 left-col">
      <div class="title">
        {{plan?.technology.name}}
        <div class="summary">
          {{plan?.description}}
        </div>
        <div class="author">
          by {{plan?.owner}}
          <app-rating (onRating)="onLearningPlanRating($event)"></app-rating>
        </div>
      </div>
    </div>
  </div>

  <div class="row row--component-margin">
    <div class="resourcesHeading">
      <h4>Resources:</h4>
    </div>
    <mat-accordion *ngFor="let r of plan?.resources">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{r.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{r.description}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        Concepts Covered:
        <div class="conceptsCovered" *ngFor="let c of r.concepts">
          {{c.name}}
        </div>
        <a class="button" href="{{r.resourceLink}}" target="_blank">Go to Resource</a>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>