.streamer--complete {
    padding-bottom: 60px;
}

/* .full-width--streamer {
    
} */
.full-width {
    width: 75%;
    margin:auto;
}
.container {
    margin-top: 65px;
    
    background-color: #080357;
    color: #fff;
}

.conceptsCovered {
    display: inline;
    /* border-radius: 50%; */
    
}

 .button {
    display: block;
    width: 115px;
    height: 25px;
    background: #080357;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}


.title {
    font-size: 36px;
    line-height: 41px;
}
.summary {
    font-size: 21px;
    line-height: 35px;
}
.author {
    font-size: 18px;
    line-height: 27px;
}
.resourcesHeading {
    margin: 25px;
}