<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
      <mat-list-item><button mat-button (click)="clickedTech()">Technologies</button></mat-list-item>
      <mat-list-item><button mat-button (click)="clickedSubs()">Your Subscriptions</button></mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle(); clickedRight();" *ngIf="hasClickedLeft">
      <mat-icon>add</mat-icon>
    </button>

    <button type="button" mat-button (click)="drawer.toggle();clickedLeft()" *ngIf="hasClickedRight">
      <mat-icon>clear</mat-icon>
    </button>

    <app-search *ngIf="hasClickedTech && !hasClickedSubs && !hasClickedLearn"></app-search>
    <app-scrolling-container [choice]=2 *ngIf="hasClickedSubs"></app-scrolling-container>
    <app-scrolling-container [choice]=1 *ngIf="hasClickedLearn"></app-scrolling-container>
  </div>

</mat-drawer-container>