body {
  font-size: 10px;
}
.LPresource{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  margin-bottom: 20px;
}
.learningplan{
  flex: 5;
  height: 100%;

}
.resource{
  flex: 5;
  margin-left: 25px;
  height: 100%;
}
mat-form-field{
  width: 100%;
  font-size: 17px;
  margin-top: 20px;
}
button {
  margin-top: 20px;
  /* background-color: black;
  color: white; */
}
.example-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
