<div class="LPresource">
    <div class="learningplan">
        <h3>Learning Plan</h3>
        <form class="example-form">
            <mat-form-field appearance="outline">
                <mat-label>Learning Plan Name</mat-label>
                <input matInput placeholder="Learning Plan Name">
                <mat-hint>Name your Learning Plan</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Technology Name</mat-label>
                <input matInput placeholder="Technology">
                <mat-hint>Give technology for better recommendations</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="textarea">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description"></textarea>
                <mat-hint>Describe your plan</mat-hint>
            </mat-form-field>
            <div>
                <button mat-raised-button color="black" (click)="clickedAddResource()">Add Resource</button>
            </div>
        </form>
        <div class="pom-c-resourcecard" *ngFor="let res of resources">
            <mat-card  class="pom-c-card">{{res.ResourceName}}</mat-card>
            <button mat-raised-button class="pom-c-button" (click)="clickedAddQuestions()">Add Questions</button>
        </div>
    </div>
    <div class="resource">
        <app-addresource *ngIf="hasClickedAddResource && !hasClickedSaveResource" (hasClickedSave)="handleSave($event)"></app-addresource>
        <app-questions *ngIf="hasClickedAddQuestions"></app-questions>
    </div>
</div>






<!-- <h3>Your Plan starts here....</h3>
<div class="accordianandbuttons">
    <div class="buttons">
        <div>
            <button mat-raised-button color="black" routerLink="/profile" routerLinkActive="active" (click)="postLearningPlan()">Submit</button>
        </div>
        <div>
            <button mat-raised-button color="black" (click)="addResource()">Add</button>
        </div>
    </div>
</div><br> -->