.example-chip-list {
    width: 60%;
  }
.example-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    /* align-content: center; */
}

mat-form-field{
    width: 60%;
    font-size: 15px;
    margin-bottom: 20px;
}

@media (max-width:425px){
    mat-form-field{
        width: 90%;
        font-size: 15px;
        margin-bottom: 20px;
        margin-left: 5px;
    }
    .example-chip-list {
        width: 90%;
        margin-left: 5px;
      }
}
.help{
    color: black;
}

.pom-c-button{
    margin-left: 5px;
    margin-bottom: 10px;
}



