.pot-l-contributions_wrapper, .pot-l-subscriptions_wrapper {
  margin-left: 30px;
}

@media (max-width :425px){
  .pot-l-contributions_wrapper, .pot-l-subscriptions_wrapper {
    margin-left: 0;
  }
}

.pot-l-contributions, .pot-l-subscriptions {
  display: flex;
  flex: row;
}
