<div class="pot-l-container">
  <!--Assessments-->
  <div class="pot-c-assessments">
    <a href="" routerLink="/testedtechnologies" style="text-decoration: none">
      <mat-card class="pom-c-card">
        <mat-card-title>Tests Taken</mat-card-title>
      </mat-card>
    </a>
  </div>
  <!-- Contributions -->
  <div class="pot-l-contributions_wrapper">
    <h2>Contributions</h2>
    <a routerLink="/learningplancreator" mat-button>Add Learning Plan</a>
    <div class="pot-l-contributions">
      <app-yourcontributionscard *ngFor="let contribution of contributions" [plan]="contribution"></app-yourcontributionscard>
    </div>
  </div>
  <!-- End of Contributions -->

  <div class="pot-l-subscriptions_wrapper">
    <h2>Subscriptions</h2>
    <a routerLink="/popular" routerLinkActive="active" mat-button >Subscribe to Learning Plans</a>
    <div class="pot-l-subscriptions">
      <app-yoursubscriptionscard *ngFor="let subscription of subscriptions" (hasUnsubscribed)="handleUnsubscribe($event)"
        [plan]="subscription"></app-yoursubscriptionscard>
    </div>
  </div>
</div>

 <!-- <a routerLink="/result" routerLinkActive="active" class="Btn" button mat-raised-button color="primary" *ngIf="callResult">
          Show Results</a> -->