<div class="container">
  <div class=flex1 style="flex-grow: 2">
    <img class="header-image" src="../../assets/placeholder-team.jpg" />
  </div>
  <div class=flex2 style="flex-grow: 5">
    <mat-card class="profile">
      <mat-card-title>{{user.fullName}}</mat-card-title>
      <mat-card-subtitle><em>{{user.userName}}</em></mat-card-subtitle>
      <mat-card-footer class="less-margin">
        {{user.description}}
      </mat-card-footer>
    </mat-card>
  </div>
  <!-- </mat-card> -->
  <div class=flex3 style="flex-grow: 2">
    <mat-card class="info-card">
      <mat-card-header>
        <mat-card-title>Proficient In</mat-card-title>
        <mat-card-subtitle><em>HTML5</em></mat-card-subtitle>
        <mat-card-subtitle><em>CSS3</em></mat-card-subtitle>
        <mat-card-subtitle><em>.NetCore2.1</em></mat-card-subtitle>
        <mat-card-subtitle><em>Angular6</em></mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>